<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friend">
	<!-- 친구 요청 보내기 -->
	<insert id="send" >
		insert into friendmake values(friendmake_seq.nextval, #{sender}, #{receiver}, #{content}, 'n',sysdate)
	</insert>
	
	<!-- 친구 수락 -->
	<insert id="agree1friend">
		insert into friend values(friend_seq.nextval, #{one}, #{other},sysdate)
	</insert>
	<insert id="agree2friend">
		insert into friend values(friend_seq.nextval, #{other}, #{one},sysdate)
	</insert>

	<!-- 친구 취소 -->	
	<delete id="end1friend">
		delete from friend where one=#{one} and other=#{other}
	</delete>
	<delete id="end2friend">
		delete from friend where one=#{other} and other=#{one}
	</delete>
	
	<!-- 내 친구 검색 -->
	<select id="myfriendlist" resultType="java.util.HashMap">
		select * from FRIEND where one=#{one} and other=#{other}
	</select>
	
	<!-- 친구 요청 검색 -->
	<select id="searchlist" resultType="java.util.HashMap">
		select id,email from member where id like #{id, jdbcType=VARCHAR}
	</select>
	
	<!-- 친구 요청 리스트 -->
	<select id="mftotalCount" resultType="java.lang.Integer">
		select count(*) from friendmake where RECEIVER=#{id}
	</select>
	
	<select id="mfviewpage" resultType="java.util.HashMap">
		select * from (select rownum as r, f.* from (select * from friendmake order by friendmake.NO DESC)f where RECEIVER=#{id}) where r between #{start} and #{end}
	</select>
	
	<!-- 요청 메세지 삭제 -->
	<delete id="deletemsg">
		delete from FRIENDMAKE where sender=#{sender} and receiver=#{receiver}
	</delete>
	<!-- 거절 메세지 삭제 -->
	<delete id="deleretemsg">
		delete from FRIENDMAKE where sender=#{receiver} and receiver=#{sender}
	</delete>
	
	<!-- 친구 유무 확인 -->
	<select id="existfriend" resultType="java.lang.Integer">
		select count(*) as cnt from friend where one=#{one} and other=#{other}
	</select>
	
	<select id="existmakefriend" resultType="java.lang.Integer">
		select count(*) as cnt from friendmake where sender=#{sender} and receiver=#{receiver}
	</select>
	
	
	<!-- 친구 리스트 -->
	<select id="ftotalCount" resultType="java.lang.Integer">
		select count(*) from friend where one=#{id}
	</select>
	
	<select id="fviewpage" resultType="java.util.HashMap">
		select * from (select rownum as r, f.* from (select * from friend order by friend.NO DESC)f where one=#{id}) where r between #{start} and #{end}
	</select>
	
	<!-- 친구 검색 -->
	<select id="searchfriendlist" resultType="java.util.HashMap">
		select other from friend where one=#{one, jdbcType=VARCHAR} and other like #{other, jdbcType=VARCHAR}
	</select>
	
	<!-- 친구 정보 가져오기 -->
	<select id="friendinfo" resultType="java.util.HashMap">
		select * from (select m.*, p.url from member m left join profile p on m.id = p.id where m.id=#{ID} order by regdate desc ) where rownum=1
	</select>
</mapper>