<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="log">
	<!-- 접속 기록 -->
	<insert id="loginsession" >
		insert into log(no, s_id, s_time) values(log_seq.nextval, #{s_id}, sysdate)
	</insert>
	<update id="loginnow">
		update log set u_id=#{u_id} where s_id=#{s_id}
	</update>
	<update id="logoutnow">
		update log set e_time=sysdate where s_id=#{s_id}
	</update>
</mapper>