<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- 회원 가입 -->
	<insert id="join" parameterType="java.util.HashMap">
		insert into member(id,password,email,gender,age) 
		values (#{id},#{password},#{email},#{gender},#{age})
	</insert>
	
	<select id="idcheck" resultType="java.util.HashMap">
		select * from member where id=#{id, jdbcType=VARCHAR}
	</select>
	
	<select id="emailcheck" resultType="java.util.HashMap">
		select * from member where email=#{email, jdbcType=VARCHAR}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="java.lang.Integer">
		select count(*) from member where (id=#{idmail} or email=#{idmail}) and password=#{password}
	</select>
	
	<select id="authsetting" resultType="java.util.HashMap">
		select id,email from member where (id=#{idmail, jdbcType=VARCHAR} or email=#{idmail, jdbcType=VARCHAR} or id=#{id, jdbcType=VARCHAR})
	</select>
	
	
	
	<!-- 친구 -->
	<select id="friendlist" resultType="java.util.HashMap">
		select * from member where id like #{id}
	</select>
</mapper>